.btn, .ja-button, .view-details, .gform_button, strong a {
    padding: 14px 25px;
    letter-spacing: 1.3px;
    text-align: center;
    border-radius: 8px;
    transition: all .5s ease;
    background: $primary-org;
    color: $white;
    @extend .monst;
    text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 1px;
  transition: all .5s ease;

  &:hover {
    background: #d56d49;
  }
}

.view-details {
  display: inline-block;
  margin-top: 10px;
}


.news-btn {
  padding: 15px 25px;
  font-size: .8rem;
  display: inline-block;
  margin: 10px 0
}



.search-form {
  display: block;
  position: relative;
.search-icon {
  position: absolute;
  display: block;
  right: 10px;
  top: 15px;
  border: none;
}
}
