// ==== CONFIGURATION ==== //

// Set all your configuration variables here!
$primary-org: #f07246;
$text-blue: #006bff;
$text-blue-light: #0fc0f2;
$primary-org: #f07246;
$grey: #20252f;
$grey-light: #e8e8e8;
$white: #FFFFFF;
$grey-blue: #3d4658;




$grey--dark: darken($primary-org,10%);
$grey--light: lighten($primary-org,10%);

$grey--dark: darken($grey,10%);
$grey--light: lighten($grey,10%);



// Width of the overall site as well as the left and right content columns
$width-site:    1200px;


// Breakpoints
$break-small:   480px;
$break-medium:  620px;
$break-large:   800px;

// A standard margin
$spacer:        30px;

// A modest palette; see `_library.scss` for the color() function
$_color: (
  text: $grey,
  link: $text-blue,
  link-muted: $text-blue,
  body-background: $white,
  header-background: $white,
  footer-background: $grey-blue
);

// Metadata; use metadata() to access
$_metadata: (
  theme-name:               "Henderson Health Care"
, theme-uri:               "https://github.com/isaac-martin/henderson-health"
, theme-author:             "Isaac Martin"
, theme-author-uri:         "http://isaacmartin.co"
, theme-description:        "A minimally viable theme made with the WordPress/Gulp starter kit"
, theme-version:            "0.1"
, theme-license:            "GPLv3"
, theme-license-uri:        "http://www.gnu.org/licenses/gpl.txt"
, theme-tags:               (light, responsive-layout, right-sidebar, starter-theme, two-columns, translation-ready, white)
, theme-text-domain:        "hendersonhealth"
, theme-text-domain-path:   "/languages/"
);
