@import "forms-reset";

$placeholder-grey: $grey--dark;
$placeholder-white: $white;


form {
  font-family: $opensans;
  font-weight: 400;
}

input, textarea {
  font-family: $opensans;
  border: 1px solid;
  border-radius: 8px;
  padding: 12px 8px;
  text-align: left;
  display: inline-block;
  width: 100%;
  margin: 0 0 10px 0;
}

.gform_title {
  display: none;
}

.gfield_required {
  display: none;
}

.gfield_checkbox a {
  color: $primary-org;
}


.grey-form {
  input, textarea {
    border-color: $grey--dark;
    color: $grey--dark;
  }

  *::-webkit-input-placeholder {
      color: $placeholder-grey;
  }
  *:-moz-placeholder {
      color: $placeholder-grey;
  }
  *::-moz-placeholder {
    color: $placeholder-grey;
  }
  *:-ms-input-placeholder {
    color: $placeholder-grey;
  }

}

.white-form {
  input, textarea {
    border-color: $white;
    color: $white
  }

  *::-webkit-input-placeholder {
      color: $placeholder-white;
  }
  *:-moz-placeholder {
      color: $placeholder-white;
  }
  *::-moz-placeholder {
    color: $placeholder-white;
  }
  *:-ms-input-placeholder {
    color: $placeholder-white;
  }


}



//Amir Code
ul.oscFList{
  padding: 0px;
  margin: 0px;
}
ul.oscFList li{
  list-style-type: none;
  margin-bottom: 7px;
}
ul.oscFList li label{
  width: 16%;
}
ul.oscFList li input{
  border: 1px solid #dddddd;
  width: 30%;
}
ul.oscFList li input[type="radio"]{
  border: 1px solid #dddddd;
  width: auto;
}

ul.oscFList li select{
  border: 1px solid #dddddd;
  width: 31.5%;
  border-radius: 8px;
  display: inline-block;
  margin: 0 0 10px;
  padding: 8px;
  text-align: left;
}
.red{
  color: red;
}
#interpreterLanguageWrapper{
  display: none;
}
#cBooking{
  background: #01949d;
  cursor: pointer;
  font-weight: bold;
  margin: 0 auto 0 16.5%;
  color:#FFFFFF;
}


.join-form {
  input {
    width: 29%;
    margin-right: 1%;

      @include media-below($break-medium) {
        width: 48%;
      }

      @include media-below($break-small) {
        width: 100%;
        margin-right: 0;
      }
  }

  .btn--inverse {
    color: $grey;
    cursor: pointer;
    text-align: center;
    // margin: 0 auto;
    // display: block;
    width: 20%;
    height: 50px;
    font-weight: 700;
    @include media-below($break-medium) {
      width: 48%;
    }

    @include media-below($break-small) {
      width: 100%;
      margin-right: 0;
    }

    &:hover {
      color: $white;
    }
  }
}


.contact-form {
  textarea {
    height: 80%;
    resize: none;
    width: 90%;
    margin-left: 5%;

    @include media-below($break-medium) {
      margin-left: 0;
      width: 100%;
    }
  }
}


.checkbox-wrap {
  display: block;
  width: 100%!important;
}

input[type=checkbox] {
    width: 28px!important;
    height: 20px;
    margin-top: 10px;
}

.ui-datepicker  {
  background-color: white;
  border: 1px solid $grey;
  border-radius: 5px;
  padding: 5px;
}

.ui-datepicker-trigger img {
  margin-left: 5px;
}


ul.oscFList li input, ul.oscFList li label, ul.oscFList li select {
@include media-below($break-medium){
  width: 100%;
}
}

.gform_wrapper textarea {
  padding: 0;
  margin: 0;
}

.gform_wrapper label.gfield_label {
  @extend .open-semi;
  font-weight: 400!important;
  margin-bottom: 5px;
}

body .gform_wrapper .top_label div.ginput_container {
  margin-top: 0!important;
}

.gform_wrapper input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
  padding: 10px 6px!important;
}


.gform_wrapper textarea.large {
       height: 320px!important;
       width: 100%!important;
   }


   .ginput_container.ginput_container_fileupload {
     input {
       border: none!important;
     }
   }

.gfield_select {
  border: 1px solid $grey!important;
  border-radius: 5px!important;
}


.ginput_container .ginput_container_select {
  border: 1px solid $grey;
  border-radius: 5px;
}

.fileupload {
  display: flex;
  flex-direction: row-reverse;
  width: auto;
  width: 370px;
  max-width: 100%;
  .gfield_description {
    font-size: 14px!important;
    max-width: 175px!important;
    margin-right: 20px;
      @extend .monst-bold;
  }
  .gfield_label {
    color: $white;
    background: $primary-org;
    width: 140px!important;
  text-align: center;
  max-height: 38px;
  padding: 10px!important;
    border-radius: 4px;
    margin-right: 10px;
    font-weight: 700!important;
    text-transform: uppercase;
  }
.ginput_container_fileupload {
  input[type=file] {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
}
}

.gform_wrapper .fileupload .gfield_label {
  font-weight: 700!important;
  font-size: 14px;
}

.name-input {
  display: inline-block;
width: 50%;
float: left;
clear: none!important;
&:last-of-type {
  float: right;
}
}
