// ==== GENERAL ==== //

html {
  font-size: 18px;
}
body {
  background: color(body-background);
  color: color(text);
  font-family: $karla;
  line-height: 1.44444;
}

h1,
h2,
h3,
{
  font-weight: bold;
  line-height: 1.22222;
}


h4,
h5,
h6 {
  font-weight: regular;
  line-height: 1.22222;
}

.bold {
  font-weight: 700;
}
h3 {
  font-size: 26px;
}


.underline {
    border-bottom: 3px solid;
    width: auto;
    display: inline-block;
  }

  .center {
    text-align: center;
  }
a {
  border: 0;
  color: inherit;
  text-decoration: none;
  transition: color .8s ease-out;
  color: color(link);
}
figure {
  margin: 0;
}
img {
  height: auto;
  max-width: 100%;
}


//Header

.logo {
  width: 100%;

  @include media-below($break-medium) {
    width: 70%;
  }
}

.green-bg {
  background-color: $primary-col;
  color: $white;
}


//How It Works

.how-it-works {
    h3 {
      text-align: center;
      height: 60px;
      font-size: 20px;
    }
    .icon {
    width: 50%;
    margin: 0 auto;
    display: block;
    }
}
// Team

.team {
  margin: 0;
  padding: 0;

  li {
  // list-style-type: disc;
  display: inline-block;
  // margin: 0 20px 0 0;
  width: 30%;
  font-size: 22px;
  font-weight: 700;

  @include media-below($break-medium) {
    width: 48%;
  }

  @include media-below($break-small) {
    width: 100%;
    font-size: 16px;
  }

}
}

//Footer

#site-footer-navigation {
  display: inline-block;
position: relative;
float: left;
}

#menu-footer {
  li {
    a {
        color: $white;
    }
  }
}

.copyright {
  color: $white;
  display: inline-block;
  position: relative;
  float: right;

  @include media-below($break-medium) {
  float: left;
  }
}

.site-main {
  min-height: calc(100vh - 165px);

  @include media-below($break-medium) {
  padding-top: 60px;
  }

  .container {
    padding: 20px;
  }
}

label {
  font-size: 15px;
  @include media-below($break-medium) {
  font-size: 11px;
  }

.byline {
  display: block;
    margin-left: 28px;
    font-size: 12px;
    margin-top: -10px;

    @include media-below($break-medium) {
    font-size: 10px;
    }
}
}

.or {
  font-weight: 700;
  text-decoration: underline;
}


.google-maps {
        position: relative;
        padding-bottom: 75%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
 iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }
}
