// ==== GENERAL ==== //

html {
  font-size: 18px;
}
body {
  background: color(body-background);
  color: color(text);
  font-family: $opensans;
  line-height: 1.44444;
  overflow-x: hidden;
}

h1,
h2,
h3,
{
  line-height: 1.22222;
  font-family: $monst;
}


h1 {
    @extend .monst-med;
    @include media-below($break-medium) {
      font-weight: 700;
    }
}
h2,h3,h4 {
  @extend .monst-light;
}


.footer-phone {
  font-family: $opensans;
  font-weight: 600;
}

.footer-linkedin {
    font-family: $monst;
}

h4,
h5,
h6 {
  font-weight: regular;
  line-height: 1.22222;
}

.bold {
  font-weight: 700;
}
h3 {
  font-size: 26px;
}


.underline {
    border-bottom: 3px solid;
    width: auto;
    display: inline-block;
  }

  .center {
    text-align: center;
  }
a {
  border: 0;
  color: inherit;
  text-decoration: none;
  transition: color .8s ease-out;
  color: color(link);
}
figure {
  margin: 0;
}
img {
  height: auto;
  max-width: 100%;
}



//Header


.h100 {
  height: 100%;
}
.logo {
  width: 100%;

  @include media-below($break-medium) {
    width: 70%;
  }
}



.image-header {
  height: 180px;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  color: white;
  background-size: cover;
  background-image: url('imgs/henderson-about-header.jpg');

h1 {
  margin: 0;
  font-size: 40px;
line-height: 44px;
padding-top: 20px;
}
}

@media screen and (max-width: 48em) {
  .image-header{
    background-image: url('imgs/henderson-about-header-mob.jpg');

    h1 {
      padding-top: 15px;
      max-width: 80%;
      margin: 0 auto;
      display: block;
    }
  }
}
.icon-text {
  vertical-align: middle;
  margin-bottom: 0;
  font-size: 18px;
  margin-top: 10px;
  // @extend .monst-med;
}


.site-footer {
  color: $white;
  a {
    color: white;
  }

  h2 {
    margin: 0 0 30px 0;
    font-weight: 300;
    font-size: 26px;

    @include media-below($break-medium) {
    margin-bottom: 15px;
    }
  }

  h3 {
    margin: 0 0 30px 0;
    font-size: 26px;
  }

  .footer-phone{
    margin-bottom: 15px;

    @include media-below($break-medium) {
    margin-bottom: 10px;
    }
  }

  .footer-email {
    color: #0fc0f2;
    margin-bottom: 40px;
    display: block;
    font-size: 18px;

  }

  .footer-linkedin {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;

    @include media-below($break-medium) {
    margin-bottom: 0;
    }

    i {
      margin-left: 15px;
      vertical-align: middle;
      margin-top: -4px;
      font-size: 1.6em;
    }
  }
}

.copyright {
  font-size: 12px;
  margin-bottom: 0;
  font-weight: 300;

  @include media-below($break-medium) {
  margin-bottom: 30px!important;
  }

  a {
    margin-right: 10px;
    @include media-below($break-medium) {
    display: block;
    }

  }
}

.hero-text-wrap {
  padding: 40px;
  margin-bottom: 100px;
}

.background-grid {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0!important;

  @include media-below($break-medium) {
margin-top: 30px;
  }

}

.btn-wrap {
  margin-top: 60px;
}


.content-list {
  margin: 0 auto;
  padding: 0;
  display: block;
  li {
    display: inline-block;
    position: relative;
    width: 30%;
    margin: 0 0 10px 0;
    padding: 0 0 0 2%;
    &:before {
    content: '';
    margin-right: 0.5em;
    background-color: black;
    height: 6px;
    width: 6px;
    border-radius: 50%;
    position: absolute;
    display: block;
    left: -8px;
    top: 8px;
    @include media-below($break-medium) {
      height: 6px;
      width: 6px;
    }
  }
  @include media-below($break-medium) {
    width: 90%;
    margin-left: 3%;
  }

  }

  &.halfs {
    li {
      width: 42%;

      @include media-below($break-medium) {
        width: 90%;
      }
    }
  }
}


.contact-phone {
  margin: 0 0 5px 0;
  color: $text-blue;
  font-size: 22px;
}

.email {

}

.address {
    margin-top: 40px;
}

.google-maps i {
  margin-right: 10px;
}


.contact-social {
  margin: 60px 0 0 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: .8em;
  i {
    margin-left: 10px;
  }
}

.img-wrap {
  @include media-below($break-medium) {
    padding: 0;
    // margin-bottom: 30px;
  }
}

.melInfo {

  @include media-below($break-medium) {

  margin-top: 30px;
}
}

.icon-wrap {
  margin-bottom: 30px;
}

.name {
  margin-bottom: 0;
    color: #006bff;
}

.title {
  margin: 0;
font-size: 18px;
color: #3d4658;
font-style: italic;
font-weight: normal;
}


.hide-small {
  @include media-below($break-medium) {
    display: none!important;
  }
}


.med-icon-text {
  @extend .monst-med;
  letter-spacing: 1.1px;
  margin-top: 15px;

  @include media-below($break-medium) {
    font-size: 16px;
  }

}

p:last-of-type {
  margin-bottom: 0;
}

.job {
   .title {
     font-style: normal;
     margin-bottom: 15px;
   }

   .classifications {
     margin-bottom: 10px;
   }

   .summary {
     margin: 10px 0;
   }
}
