.menu-inline {
    li {
      a {
      color: $grey;
      @extend .monst-med;
      text-transform: uppercase;
      text-align: center;
      padding: 0 3px 20px 0;
      font-size: .8rem;
    }
  }

  .btn {
    a{
      color: $white;
    }

    }

    .current-menu-item, .current_page_parent {
      a{
      color: $primary-org;
    }
    .sub-menu > li > a {
     color: black;
   }
   .sub-menu > .current_page_item > a {
    color: $primary-org;
  }
    }


}

.home-logo {
  @include media-below($break-medium) {
    margin-left: 20px;
  }
}


.site-header {
  position: relative;
  display: inline-block;
  width: 100%;
}

.site-branding {
  display: inline-block;
  float: left;
  position: relative;
}

.site-navigation {
  display: inline-block;
  float: right;
  position: relative;
  text-align: right;

  @include media-below($break-medium) {
    text-align: center;
    float: none;
  }

}


#menu-header {
  li {
    @include media-below($break-medium) {
      display: block;
      text-align: center;
      float: none;
      margin-bottom: 30px;
      margin-right: 0;
    }
  }

  .btn {
    @include media-below($break-medium) {
      display: none;
      visibility: hidden;
    }
  }
}



#responsive-menu-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
  z-index: 99;

  span {
    width: 100%;
    height: 3px;
    background: $grey;
    position: absolute;
    top: 0;
    left: 0;

    &:nth-child(2) {
      top: 10px;
    }

    &:nth-child(3) {
      top: 20px;
    }
  }
}


.book-bar {
  position: absolute;
  left: 0;
  right: 0;
  height: 50px;
  line-height: 50px;
  display: none;
  visibility: hidden;
  background-color: $grey;
  border-color: $grey;
  color: $white;
  transition: all .5s ease;
  text-align: center;

  &:hover {
    background-color: $grey--dark;
    border-color: $grey--dark;
  }

  @include media-below($break-medium) {
    display: block;
    visibility: visible;
  }

}

.wrap-header {
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 90px;
  z-index: 99;
}

.site-header {
  // padding-top: 30px;
  position: relative;
  width: 1200px;
  top: 30px;
  margin: 0 auto;
  display: block;
}
