.menu-inline {
    li {
      a {
      color: $grey;
      @extend .monst;
      letter-spacing: .5px;
      text-transform: uppercase;
      text-align: center;
      padding: 0 3px 20px 0;
      font-size: 14px;
      transition: color .5s ease;

      &:hover {
        color: $primary-org;
      }
    }
  }

  .btn {
    a{
      color: $white;
    }

    }

    .current-menu-item, .current_page_parent {
      a{
      color: $primary-org;
    }


    .sub-menu > li > a {
     color: black;
   }
   .sub-menu > .current_page_item > a {
    color: $primary-org;
  }
    }

    .search-btn {
      margin-top: 3px;
        a {
          color: $white!important;
        }
      }


}

.home-logo {
  .full-logo {
    max-width: 190px;
}
.logo-icon {
  display: none;
}

@include media-below($break-medium) {

  max-width: 30px;
  z-index: 99;

    .logo-icon {
      display: inline-block;
      width: 30px;
    }

    .full-logo {
      display: none;
    }

}
}


.site-header {
  position: relative;
  display: inline-block;
  width: 100%;
}

.site-branding {
  display: inline-block;
  float: left;
  position: relative;
}

.site-navigation {
  display: inline-block;
  float: right;
  position: relative;
  text-align: right;
  margin-top: -6px;

  @include media-below($break-xl) {
    text-align: center;
        width: 100vw;
        position: fixed;
        background: white;
        left: 0;
        top: 76px;
  }

  @include media-below($break-medium) {
        top: 56px;
  }

}


#menu-header {
    @include media-below($break-xl) {
      padding: 30px;
    }
  li {
    @include media-below($break-xl) {
      display: block;
      text-align: left;
      float: none;
      margin-bottom: 10px;
      margin-right: 0;
    }
  }

  .btn {
    @include media-below($break-xl) {
      display: none;
      visibility: hidden;
    }
  }
}



#responsive-menu-toggle {
  position: fixed;
  top: 40px;
  right: 30px;
  width: 30px;
  height: 30px;
  z-index: 999;
  z-index: 999;


  @include media-below($break-medium) {
top: 20px;
  }

  span {
    width: 100%;
    height: 3px;
    background: $primary-org;
    position: absolute;
    top: 0;
    left: 0;

    &:nth-child(2) {
      top: 10px;
    }

    &:nth-child(3) {
      top: 20px;
    }
  }
}


.book-bar {
  position: absolute;
  left: 0;
  right: 0;
  height: 50px;
  line-height: 50px;
  display: none;
  visibility: hidden;
  background-color: $grey;
  border-color: $grey;
  color: $white;
  transition: all .5s ease;
  text-align: center;

  &:hover {
    background-color: $grey--dark;
    border-color: $grey--dark;
  }

  @include media-below($break-medium) {
    display: block;
    visibility: visible;
  }
}

.wrap-header {
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  z-index: 99;
  transition: all .5s ease;

  @include media-below($break-medium) {
      height: 60px;
  }

  &.sub-active{
    height: 138px;
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.33);
    @include media-below($break-medium) {
        height: 0;
        box-shadow: none;
    }
  }
}

.site-header {
  // padding-top: 30px;
  position: relative;
  width: 100%;
  max-width: 1200px;
  top: 32px;
  margin: 0 auto;
  display: block;
    @include media-below($break-medium) {
      top: 12px;
    }
}

.mob-jobs-btn {
  display: none;
    @include media-below($break-xl) {
      display: block;
    position: fixed;
    top: 30px;
    right: 80px;
    font-size: 12px;
    padding: 12px 20px;
    z-index: 999;
    }
    @include media-below($break-medium) {
      top: 10px;
    }
}
