.icons {
  width: 80%;
  margin: 45px auto;
  .col, [class*=col-] {
    padding-bottom: 0;
  }
}

.icon {
  display: block;
  margin: 0 auto;
}


.specLink {
  color: white;
  text-align: center;
  @extend .monst-bold;
  background: rgba(0,0,0, 0.45);
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  vertical-align: middle;
  padding: 115px 0 0 0;
  transition: .5s all ease;
  font-size: 18px;

  &:hover {
    background: rgba(0,0,0, 0.2);
  }
}
.bgimg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.specImg {
  position: relative;
  display: inline-block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 245px;
  // padding: 150px 0;
  transition: .5s all ease;

  &:hover {
    transform: scale(1.05);
  }
}



.testimonial {

  &:focus {
    outline: none;
  }
  color: $text-blue;
  .test {
    font-size: 24px;
    line-height: 30px;
    display: block;
  }

  .author {
    font-weight: 600;
    display: block;
    margin-top: 20px;
    font-size: 14px;
  }
}

.testimonials {
      padding-bottom: 45px;
  .slick-dots {
    bottom: -65px;
    li {
      button{
        &:before{
          background: $grey-light;
          }
          &:hover {
            background: $grey-light;
            border: none;
          }
        }

    &.slick-active {
      button{
        &:before{
          background: $grey;
          }
        }
      }
    }
  }
}
