.icons {
  width: 80%;
  margin: 40px auto;
}

.icon {
  display: block;
  margin: 0 auto;
}


.specLink {
  color: white;
  text-align: center;
  @extend .monst-med;
  background: rgba(0,0,0, 0.7);
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  vertical-align: middle;
  padding: 135px 0 0 0;
  transition: .5s all ease;
  
  &:hover {
    background: rgba(0,0,0, 0.2);
  }
}
.bgimg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.specImg {
  position: relative;
  display: inline-block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  padding: 150px 0;
  transition: .5s all ease;
  
  &:hover {
    transform: scale(1.05);
  }
}



.testimonial {

  &:focus {
    outline: none;
  }
  color: $text-blue;
  .test {
    font-size: 22px;
    display: block;
  }

  .author {
    font-weight: 700;
    display: block;
    margin-top: 20px;
    font-size: 16px;
  }
}

.testimonials {
  .slick-dots {
    bottom: -30px;
    li {
      button{
        &:before{
          background: $grey-light;
          }
          &:hover {
            background: $grey-light;
            border: none;
          }
        }

    &.slick-active {
      button{
        &:before{
          background: $grey;
          }
        }
      }
    }
  }
}
