// ==== LAYOUT ==== //

// These wrappers allow for backgrounds and layout options to be defined for each of the four sections (header, content, sidebar, and footer)
// There is also a fifth meta-wrapper to bind content and sidebar on large screens

// A general wrapper for various site elements

.inner-container {
  max-width: 1200px;
  // padding: 0 30px;
  margin: 0 auto;

  @include media-above($break-medium) {
// padding: 0 20px;
  }
}
%wrap {
  box-sizing: border-box; // Makes life a little easier
  padding: 0;
}
.wrap-header {
  z-index: 99;
  @extend %wrap;
  background: color(header-background);
  padding-left: 30px;
  padding-right: 30px;
}
.container { // Wrapper around content and sidebar
  @extend %clearfix;
  @include media-above($break-large) {
    @include scut-center-block($width-site);
    padding: spacer(1);
  }
  padding: 30px;
}
.wrap-content {
  @extend %wrap;
  padding: spacer();
  @include media-above($break-large) {
    float: left;
    padding-left: 0;
    padding-right: spacer();
    width: 100%;
  }
}
.wrap-footer {
  @extend %wrap;
    background: color(footer-background);
  padding-top: spacer(2);
    padding-bottom: spacer(2);
  @include media-above($break-large) {
    padding-left: spacer(2);
    padding-right: spacer(2);
  }
  @include media-below($break-medium) {
    padding-bottom: spacer(.5);
    padding-top: spacer(.5);
  }

}

.site-footer {
 [class*=col-] {
   padding-bottom: 0;
 }
}
.site-title {
  margin: 0;
}
.site-description {
  @extend %hide;
}
.site-content {
  @extend %spacer-below;
  article {
    @extend %spacer-below-2;
  }
}
.site-navigation {
  display: none;
  @include media-above($break-xl) {
    display: block !important; // Handles an edge case where user resizes after menu is hidden on smaller screens
  }
  &.active {
    display: block;
  }
}
.alignright {
  float: right;
}
.alignleft {
  float: left;
}


.grey-bg {
  background: $grey-light;
}

.fullW {
  width: 100vw;
  display: inline-block;
  position: relative;
}

.site-main{
  padding-top: 99px;


    @include media-below($break-medium) {
        padding-top: 60px;
    }
}

.jobs-container {
  padding-top: 0;
}

.page-id-46 {
  .inner-container {
    padding-bottom: 0;
  }
}

.ja-job-search {
@extend .grey-bg;
padding: 30px;
}

.ja-field-container {
  width: 17%;
  display: inline-block;
  float: left;

    @include media-below($break-medium) {
      width: 100%;
    }


  // label {
  //   display: none;
  // }
  label {
    display: block;
    margin-bottom: 5px;
    @include media-below($break-medium) {
      margin-top: 10px;
    }

  }

  select {
    background: white;
    border: 1px solid black;
    padding: 20px 10px;
    width: 90%;
    font-family: $opensans;
    height: 40px;
    margin-top: 2px;

    @media screen and (max-width: 48em) {
    width: 100%;
  }
  }

}

.ja-submit {
  width: 12%;
    margin-left: 2%;
    display: inline-block;
  right: 0;
  cursor: pointer;
  .ja-button {
    cursor: pointer;
      border: none;
      text-align: center;
      width: auto;
      padding: 10px 40px;
      margin: 18px auto 0 auto;
      display: block;
      border: 4px solid $primary-org;
  }

}


.ja-job-list-container, .ja-job-details {
  width: 60%;
  margin-left: 20%;
  padding-top: 60px;

    @include media-below($break-medium) {
      width: 100%;
      margin-left: 0;
      padding-top: 80px
    }

  .job {
    margin-bottom: 60px;
  }

  .title {
    margin-bottom: 10px;
  }
}

.classifications {
  list-style-type: none;
  padding: 0;
  margin: 0;
  li {
    display: inline-block;
    border: 1px solid $grey-light;
    border-radius: 20px;
    background: $grey-light;
    padding: 8px 20px;
    margin: 0 10px 10px 0;
    font-size: 13px;
    // color: white;

  }
}

.title {
  a {
    color: $grey;
  }
}

.ja-pager-summary {
  display: none;
}

.ja-pager {
      margin-left: -40px;
      @media screen and (max-width: 48em) {
margin-left: 0;   }
  span , a {
    background: $primary-org;
    color: white;
    padding: 8px 15px;
    border-radius: 8px;
    margin-right: 8px;
  }

  a {
    background: rgba(240,114,70,0.5)
  }
}


.site-footer {
  @media screen and (max-width: 48em) {
  padding: 20px;
}
}

.apply {
  margin: 20px 0;

  .ja-button {
    margin: 0;
    padding: 12px 25px;
    height: 45px

  }
}
.back-link {
    display: inline-block;
      height: inherit;
    font-weight: 600;
    border: 2px solid $primary-org;
    padding: 12px 25px;
    letter-spacing: 1.3px;
    text-align: center;
    border-radius: 8px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    color: $primary-org;
    text-transform: uppercase;
    font-size: 13px;
}


.slide-wrap {
  padding: 20px;
}


article.post {
  margin: 0 0 50px 0;
}
.post-title {
  @extend .monst-light;
  margin: .5rem 0;

  a {
    color: #3d4658;
  }
}


.post {
  p {
        color: #3d4658;
  }
}



.pagination {
  span , a {
    background: $primary-org;
    color: white;
    padding: 8px 15px;
    border-radius: 8px;
    margin-right: 8px;
  }

  a, .dots {
    background: rgba(240,114,70,0.5);

    &:hover {
      background: rgba(240,114,70,0.8)
    }
  }
}

.post-excerpt {
  margin: 0;
}

article p {
  margin-bottom: 15px;
}

.cat-list, .arch-list {
  margin: 0 0 10px 0;
  padding: 0;
  list-style-type: none;
  li a{
    color: $grey;
    &:hover {
      color: $primary-org;
    }
  }

  .current-cat a {
      color: $primary-org;
  }
}

.footer-post-wrap {
  margin: 0 0 30px 0;
  .date {
    display: block;
    font-size: 13px;
    @extend .open-semi-italic;
  }
}

.site-footer {
.footer-news {
  text-transform: uppercase;
  font-size: 14px;
}
}

.footer-logo-wrap {
    position: relative
}

.footer-logo-wrap svg {
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 240px
}

.footer-logo-wrap svg .words {
    display: none
}

@media screen and (max-width: 619px) {
    .footer-logo-wrap svg {
        position:relative;
        margin-top: 30px;
        left: 0!important
    }

    .footer-logo-wrap svg .words {
        display: block
    }
}


  @media screen and (max-width: 48em) {
    .footer-logo-wrap {svg {
        bottom:0;
        left: 15px
    }}
}


// .professions {
//   .inner-container {
//       @include media-below($break-medium) {
//         padding: 0;
//       }
//
//       .col, [class*=col-] {
//         padding-bottom: 0;
//         padding-left: .15rem;
//         padding-right: .15rem;
//       }
//   }
// }


.pagination {
  margin-top: 50px;
}


iframe {
form {
  #logo {
    img {
    display: none!important;
  }
  }
}

#powered-by-jobAdder {
  display: none!important;
}
}
