// ==== MENUS ==== //

// Inline menu; used in header and footer navigation
.menu-inline {
  @extend %clearfix;
  &, ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    & > li {
      float: left;
      margin-right: spacer();
      padding-top: 10px;
      &:last-of-type {
        margin-right: 0;
      }
    }

  li:hover > ul {
        display: block;
        visibility: visible;

          @include media-below($break-xl) {
            display: none;
            visibility: hidden;
          }

      }

    .sub-menu {
    display: none;
    visibility: hidden;
    position: absolute;
    padding-top: 0;
    top: 43px;


    li {
      margin: 0;
      text-align: left;
      margin-right: 40px;
      font-family: $opensans;
      a {
        font-weight: 300;
        text-transform: capitalize;
      }
    }
    }
  }
}




.sub-menu-active {
  color: $primary-org;

  a {
    padding-bottom: 0!important;
  }
    .sub-menu {
  display: block!important;
  visibility: visible!important;
  position: relative!important;
  top: 0;

  li {
    margin-bottom: 0!important;
    margin-top: 0!important;
    padding-top: 10px!important;
  }
}
}

.menu-item-has-children {
    @include media-below($break-xl) {
        position: relative;
      .fa{
        display: inline-block;
        float: right;
        width: 40px;
        position: absolute;
        top: 15px;
        right: 0;
        z-index: 100;

        &:active {
          color: $primary-org;
        }
        }
      }
    &.sub-menu-active {
      span {
          content: '';
      }
    }

    .fa {
    @include media-above($break-xl) {
      display: none!important;
    }
  }
  }

// Menu toggle for mobile phones and small screens
#responsive-menu-toggle {
  @include media-above($break-xl) {
    display: none;
  }
}
