// ==== MENUS ==== //

// Inline menu; used in header and footer navigation
.menu-inline {
  @extend %clearfix;
  &, ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    & > li {
      float: left;
      margin-right: spacer();
      padding-top: 10px;
      &:last-of-type {
        margin-right: 0;
      }
    }

  li:hover > ul {
        display: block;
        visibility: visible;
      }

    > li > ul {
    display: none;
    visibility: hidden;
    position: absolute;
    padding-top: 40px;
    top: -10px;
    li {
      margin: 0;
      text-align: left;
      margin-right: 20px;
      font-family: $opensans;
      a {
        font-weight: 300;
        text-transform: capitalize;
      }
    }
    }
  }
}

// Menu toggle for mobile phones and small screens
#responsive-menu-toggle {
  @include media-above($break-medium) {
    display: none;
  }
}
