
.slider-wrapper {
  position: relative;
  display: block;
  height: 490px;
  z-index: 1;
  top: 0;
  width: auto;
  margin-bottom: 30px;
  overflow: hidden;

@include media-below($break-medium) {
  padding: 0;
}

  .slide {
    height: 490px;
    color: $white;
  }
  .hero-img {
    height: 490px;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .slide-content {
    max-width: 475px;
    text-align: center;
    margin: 20px auto 0 auto;
    p {
      margin: 0 0 30px 0;
      @extend .open-light;
      font-size: 18px;
      line-height: 24px;
    }

  }

  .btn {
    display: block;
    margin: 0 auto;
    width: 172px;
  }

  .slick-dots {
    li {
      margin: 0 10px;
      button {
      background: $white;
      opacity: 0.5;
      height: 6px;
      width: 6px;
      padding: 4px;
    }
  }

    .slick-active button {
      opacity: 1;
    }
  }
}


.slide-content p {
  @extend .monst-thin;
  text-align: left;
}

.slide-cta {
  font-size:40px; line-height: 44px;
  max-width: 475px;
  margin: 0 auto;
  margin-bottom: 0;
  @extend .monst-med;
  font-weight: 600px;
  @include media-below($break-medium) {
      font-size: 2.8rem; line-height: 3.6rem;
  }
}



.slick-slide {
  .slider-logotype {
    display: none;
  }
}


#slick-slide00 {
.slider-logotype {
  display: block;
  margin: 0 auto;
}
}

.testSlider {
  padding-top: 65px;
    padding-bottom: 60px;
}

.testimonials {
  .slick-dots {
    margin-bottom: 45px;
  }
}
