
.slider-wrapper {
  position: relative;
  display: block;
  height: 600px;
  z-index: 1;
  top: 0;
  width: auto;
  margin-bottom: 30px;
  overflow: hidden;

@include media-below($break-medium) {
  padding: 0;
}

  .slide {
    height: 600px;
    color: $white;
  }
  .hero-img {
    height: 600px;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .btn {
    display: block;
    margin: 0 auto;
    width: 180px;
  }
  
  .slick-dots {
    li button {
      background: $white;
      opacity: 0.5;
      height: 6px;
      width: 6px;
      padding: 4px;
    }
    
    .slick-active button {
      opacity: 1;
    }
  }
}


.slide-contet p {
  @extend .monst-thin;
}

.slide-cta {  
  font-size: 3.6rem; line-height: 4.2rem;
  @include media-below($break-medium) {
      font-size: 2.8rem; line-height: 3.6rem;
  }
}



.slick-slide {
  .slider-logotype {
    display: none;
  }
}


#slick-slide00 {
.slider-logotype {
  display: block;
}
}
